name: Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  check:
    name: Check
    uses: ./.github/workflows/check.yml

  create-love-file-and-create-linux-packages:
    name: Create .love file & Create Linux packages
    runs-on: ubuntu-latest
    needs: check

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Set up JOYSTICKTESTER_VERSION
        run: |
          JOYSTICKTESTER_VERSION="${GITHUB_REF_NAME#v}"
          echo "JOYSTICKTESTER_VERSION=$JOYSTICKTESTER_VERSION"
          echo "JOYSTICKTESTER_VERSION=$JOYSTICKTESTER_VERSION" >> "$GITHUB_ENV"

      - name: Create love file
        working-directory: ./joysticktester/
        run: 7z a -tzip ../release/joysticktester.love ./

      - name: Create Linux packages
        uses: love-actions/love-actions-linux@a88721b73fe4358039f95e523ed6c82124c4c43b # v1.2.3
        with:
          app-name: Joystick Tester
          bundle-id: com.jonasgeiler.joysticktester
          description: A simple tool to test joysticks and gamepads
          version-string: ${{ env.JOYSTICKTESTER_VERSION }}
          icon-path: ./joysticktester/graphics/icon.png
          love-package: ./release/joysticktester.love
          product-name: joysticktester
          output-folder: ./release/

      - name: Rename Linux packages
        run: |
          mv ./release/joysticktester.AppImage ./release/joysticktester_linux_x64.AppImage
          mv ./release/joysticktester.deb ./release/joysticktester_linux_x64.deb

      - name: Upload release artifacts
        uses: actions/upload-artifact@4cec3d8aa04e39d1a68397de0c4cd6fb9dce8ec1 # v4.6.1
        with:
          name: release-artifacts
          path: ./release/

  create-windows-packages-and-github-release:
    name: Create Windows packages & GitHub release
    runs-on: windows-latest
    needs: create-love-file-and-create-linux-packages

    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Download release artifacts
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: release-artifacts
          path: ./release/

      - name: Create Windows packages
        uses: love-actions/love-actions-windows@9415d83f5753620a85bb3351a61e5dbbf1bc5726 # v1.1.6
        with:
          love-package: ./release/joysticktester.love
          icon-path: ./assets/icon.ico
          product-name: joysticktester
          project-website: https://github.com/${{ github.repository }}
          output-folder: ./release/

      - name: Rename Windows packages
        run: |
          mv ./release/joysticktester_x64.zip ./release/joysticktester_windows_x64.zip
          mv ./release/joysticktester_x86.zip ./release/joysticktester_windows_x86.zip

      - name: Draft release on GitHub
        uses: softprops/action-gh-release@e7a8f85e1c67a31e6ed99a94b41bd0b71bbee6b8 # v2.0.9
        with:
          draft: true
          generate_release_notes: true
          fail_on_unmatched_files: true
          files: ./release/*
